.Container{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.Text{
    width: 17vw;
    font-size: 0.8em;
}

.User{
    display: flex;
    align-items: center;
    margin: 25px 0;
}

.User p{
    display: flex;
    flex-flow: column;
    font-size: 1em;
    margin-left: 20px;
}
.User p span{
    font-size: 0.6em;
}

.User img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}


@media (max-width:425px){
    .User{
        margin: 10px;
    }
    .User img{
        width: 80px;
        height: 80px;
    }
    .User p{
        font-size: 0.9em;
    }
}