.Container{
    display: flex;
    width: 100%;
    align-items: center;
    color: rgb(168, 207, 233);
    padding: 15px;
    cursor: pointer;
    transition: background 0.3s ease-out;
}
.Container img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 25px;
}

.Container:hover{
    background-color: #111111;
}

.Container p{
    display: flex;
    flex-flow: column;
}

.Container p span{
    font-size: 0.6em;
}