*, *::after, *::before {
  box-sizing: border-box;
  
}
html {
  font-size: 62.5%;
  overflow: hidden;
}

body {
  margin: 0;
  overflow: hidden;
  font-size: 1.6rem;
  font-family: 'Raleway', sans-serif;
  color: #ffffff;
  background-color: rgb(21, 21, 21);
  transition: background 0.3s linear;
}
div{
    display: block;
}
a{
  text-decoration: none;
  color: bisque;
  opacity: 0.8;
}

a:hover{
  opacity: 1;
  text-decoration: none;
  color: bisque;
}
