*, *::after, *::before {
  box-sizing: border-box;
  
}
html {
  font-size: 62.5%;
  overflow: hidden;
}

body {
  margin: 0;
  overflow: hidden;
  font-size: 1.6rem;
  font-family: 'Raleway', sans-serif;
  color: #ffffff;
  background-color: rgb(1,10,10);
}
div{
    display: block;
}

