*, *::after, *::before {
  box-sizing: border-box;
  
}
html {
  font-size: 62.5%;
  overflow: hidden;
}

body {
  margin: 0;
  overflow-x: hidden;
  font-size: 1.6rem;
  font-family: 'Raleway', sans-serif;
  color: #ffffff;
  background-color: rgb(1,19,19);
}
div{
    display: block;
}
*{
  -ms-overflow-style: none;
  scrollbar-width: none;
}

*::-webkit-scrollbar{
  display: none;
}

